
  .sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }
#skip:focus {
  position:static;
  width:auto;
  height:auto;
  }
  
#columns{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
#columns ul{
  list-style:none;
}

main, #stats-box{
  font-size:16px;
  margin:8px 0px;
  padding:0px 16px;
  border:1px solid pink;
}

main{
  flex-grow:0;
  flex-shrink:1;
  flex-basis:420px;
}

aside{
  margin:0px;
  padding:0px;
}

#stats-box{
  width:auto;
  flex-grow:0;
  flex-shrink:0;
  font-family:monospace;
}
#stats-box h3{
  margin: 4px 0px 8px;
}
#stats-box ul{
  margin:0px 0px 8px;
  padding:0px 8px 0px;
}
#stats-box ul li{
  margin:0px 0px 2px;
}
  
footer {
  border-top:1px solid black;
  text-align: center;
  }
footer ul{
  display:block flex;
  flex-direction:row;
  justify-content:center;
  margin: 8px 0px 8px;
  padding:0px;
  list-style:none;
  }
footer ul li{
  padding:8px;
  }
